.move {
  background-color: green;
  height: 80px;
  width: 80px;
  border: none;
  transition-property: translate();
  transition-duration: 3s;
  display: block;
  margin-bottom: 5px;
}

#ease {
  transition-timing-function: ease;
}
#linear {
  transition-timing-function: linear;
}
#ease-in {
  transition-timing-function: ease-in;
}
#ease-out {
  transition-timing-function: ease-out;
}
#ease-in-out {
  transition-timing-function: ease-in-out;
}

.move:hover {
  transform: translate(900px, 0px);
}
